<div class="ui-g-4">
  <div class="ui-g ui-fluid">
    <div class="ui-g-12">
      <div class="ui-float-label">
        <input id="streetAddress" type="text" size="30" [(ngModel)]='StreetAddress' pInputText>
        <label for="float-input">Street Address</label>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-float-label">
        <input id="city" type="text" size="30" [(ngModel)]='city' pInputText>
        <label for="float-input">City</label>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-float-label">
        <input id="state" type="text" size="30" [(ngModel)]='state' pInputText>
        <label for="float-input">State</label>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-float-label">
        <input id="zip" type="text" size="30" [(ngModel)]='zip' pInputText>
        <label for="float-input">Zip</label>
      </div>
    </div>
    <button pButton type="button" (click)="search()" label="Search"></button>
  </div>
</div>
<div class="ui-g-8">
  <agm-map [latitude]="lat" [longitude]="lng" (mapClick)="mapClicked($event)" [zoom]="17" [usePanning]="true">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</div>
<div class="ui-g-12">
  <p-dataTable [value]="locationData" [responsive]="true" [immutable]=false sortMode="multiple">
    <p-column field="address" header="StreetAddress" [sortable]="true" ></p-column>
    <p-column field="cityStateZip" header="City/Sate/Zip" [sortable]="true"></p-column>
    <p-column data-field="zestimate" header="Home value" [sortable]="true">
      <ng-template let-col let-data="rowData" pTemplate="body">
        {{data.zestimate | currency: 'USD' : true}}
      </ng-template>
    </p-column>
    <p-column data-field="zestimateLow" header="Low range" [sortable]="true">
      <ng-template let-col let-data="rowData" pTemplate="body">
        {{data.zestimateLow | currency: 'USD' : true}}
      </ng-template>
    </p-column>
    <p-column data-field="zestimateHigh" header="High range" [sortable]="true">
      <ng-template let-col let-data="rowData" pTemplate="body">
        {{data.zestimateHigh | currency: 'USD' : true}}
      </ng-template>
    </p-column>
    <p-column data-field="monthlyRent" header="MontlyRent(10%)" [sortable]="true">
      <ng-template let-col let-data="rowData" pTemplate="body">
        {{data.monthlyRent | currency: 'USD' : true}}
      </ng-template>
    </p-column>
    <p-column data-field="yearlyRent" header="YearlyRent(10%)" [sortable]="true">
      <ng-template let-col let-data="rowData" pTemplate="body">
        {{data.yearlyRent | currency: 'USD' : true}}
      </ng-template>
    </p-column>
    <p-column data-field="taxInsurance" header="Tax/Insurance(2.7%)" [sortable]="true">
      <ng-template let-col let-data="rowData" pTemplate="body">
        {{data.taxInsurance | currency: 'USD' : true}}
      </ng-template>
    </p-column>
    <p-column data-field="HOA" header="HOAFees" [sortable]="true">
      <ng-template let-col let-data="rowData" pTemplate="body">
        {{data.HOA | currency: 'USD' : true}}
      </ng-template>
    </p-column>
  </p-dataTable>
</div>
